* {
    margin: 0;
    padding: 0;
}
button {
    cursor: pointer;
    box-shadow: 0px 1px 2px 2px #aaa7a7;
}
.clear {
    clear: both;
}
.wrapper {
    background: #f2f2f2;
}
.block1,
.block3
 {
    width: 980px;
    margin: 0 auto;
}
header {
    padding: 8px 30px;  
}
.leftHead {
    float: left;
}
#time,
#date {
    float: left;
}
.leftHead div:first-child {
    margin-right: 15px;
}
.rightHead {
    float: right;
}
.rightHead a {
    display: block;
    float: left;
    padding: 0 6px;
    color: #000;
    text-decoration: none;
    border-right: 1px solid #000;
}
.rightHead a:last-child {
    border-right: 0px;
}
.white {
    background: #fff;
}
.block2 {
    width: 950px;
    margin: 0 auto;
    padding: 20px 0 20px 30px;
    position: relative;
}
.block2 > a {
    float: left;
}
.block2 nav {
    position: absolute;
    bottom: 0;
    right: 0;
}
nav a {
    text-decoration: none;
    color: #000;
    display: block;
    float: left;
    padding: 20px 30px;
    background: #f2f2f2;
    margin-right: 2px;
    border-radius: 20px 20px 0 0 ;
}
nav a:last-child {
    margin-right: 0;
}
.active {
    background: linear-gradient(#8cb400,#94ba00);
    color: #edffdb;
}
.center,
.center2,
.center3,
.center4,
.center5 {
    width: 880px;
    margin: 0 auto;
    margin-bottom: 45px;
    background: linear-gradient(#94ba00,#3d6c00);
    border-radius: 0 0 20px 20px;
    padding: 50px;
}

.center2,
.center3,
.center4,
.center5 {
    display: none;
}
.center img,
.center2 img,
.center3 img,
.center4 img,
.center5 img {
    float: right;
}
.centerRight {
    width: 320px;
    float: left;
}
.centerRight > p {
    color: #edffdb;
    margin: 20px 0 30px 0;
}
h1 {
    color: #fff;
    font-size: 60px;
    font-family: Century Gothic;
}
h2 {
    font-size: 40px;
    font-family: Century Gothic;
}
#button1,
#button5,
#button2,
#button3,
#button4 {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    color: #608630;
    font-size: 18px;
}
.bottom {
    padding: 0 50px;
}
.leftBottom {
    width: 280px;
    float: left;
}
.leftBottom > div {
    margin-top: 30px;
}
.leftBottom div div {
    width: 170px;
    float: right;
}
.leftBottom div div p:first-child,
.rightMenu div p:first-child {
    color: #000;
}
.leftBottom div div p,
.rightMenu div p {
    margin: 10px 0;
    font-size: 12px;
    color: #a88195;
    font-family: Century Gothic;
}
.rightBottom {
    width: 550px;
    float: right;
}
.rightMenu div p a {
    color: #000;
}
.rightMenu {
    margin: 20px 0;
    height: 130px;
    position: relative;
}
.rightMenu:last-child {
    margin: 20px 0 5px 0;
}
.rightMenu div {
    width: 430px;
    float: right;
}
.button2 {
    width: 120px;
    height: 35px;
    font-family: Tahoma;
    font-size: 14px;
    border-radius: 10px;
    background: linear-gradient(#fdfdfd,#e1e1e1);
    position: absolute;
    bottom: 0;
    right: 0;
}
#p {
    display: none;
    width: 500px;
}
#up {
    padding: 5px 10px;
    position: fixed;
    bottom: 50px;
    left: 20px;
}
.on {
    display: none;
    width: 430px;
}